<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My life calendar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h3>Calendar</h3>
    <p>Your age is {{ age }}</p>
    <table>
    {% for row in range(90) %}
    <tr class="year{{ row + 1 }}">
        {% for cell in range(52) %}
        <td class="week{{cell + 1}}">
            <span class="glyphicon {% if (row + 1) - age != 1 %} 
                                       {% if age and age >= row + 1 %} 
                                            glyphicon-check text-success
                                       {% else %}
                                            glyphicon-unchecked text-info 
                                       {% endif %}
                                    {% else %}
                                       {% if week_num >= cell + 1 %} 
                                            glyphicon-check text-success
                                       {% else %}
                                            glyphicon-unchecked text-info 
                                       {% endif %}
                                   {% endif %}
                                   " aria-hidden="true"></span> 
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
